/*
Colors used:
Primary Color Background (white): #FFFCFC;
Secondary Color (Yellow): #FEC521;
Terceary Color (Blue): #1C6CBC
Typogrady Color" (Black): #000000
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fffcfc;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  font-family: "Playfair Display", serif;
}

header {
  text-align: center;
  background-color: #fec620;
  padding: 10px 0;
  border-bottom : 3px solid #4a4a4a;
  position: relative;
}

header box-shadow { 
  background: #F8F8F8; 
  border: solid #BDBDBD 1px; 
  box-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5)  ; 
  -webkit-box-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5)  ; 
  -moz-box-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5)  ; 
  }

main {
  padding-top: 133px;
  }

nav > ul >li {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:#4a4a4a;
  display: inline-block;
  list-style: none;
  padding: 0;

}





img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: purple;
}


a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #994c30;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  font-style: italic;
  color: black;
}

h2 {
  color: #1c6cbc;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: #1c6cbb;
}

p {
  font-size: 16px;
  line-height: 1.2;
  color: black;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #fec521;
  color: black; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid black; /* width of the border, type, color */
  transition: 0.2s opacity;
}


a {
  color: red;
}

#my-link {/* id selector */
  color: green;
}

.my-link {/* class selector */
  color: blue;
}

.button:visited {
  color: black;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #1c6cbc;
  text-transform: uppercase;
  border: 2px solid #1c6cbc;
}

.button.contact:hover {
  background-color: #1c6cbc;
  color: #fffcfc;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 250px;
}

.center {
  text-align: center;
}

#hero {
  background-color: #fec521;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#picture1 {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

main {
  padding-top: 99.8px;
}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
 
  
body {
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {



}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}